body{

    background-color: rgb(116, 98, 78);
    font-family: cursive;
    color: rgb(255, 219, 151);
    text-align: center;
}

.perros {
    
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
}

#Descripcion{

    color: aliceblue;

}

#Camilo{

    color: rgb(255, 219, 151);

}

#Kiara{

    color: rgb(255, 219, 151);

}

#Solovino{

    color: rgb(255, 219, 151);

}

#Hocho{

    color: rgb(255, 219, 151);

}

#Sinnombre{

    color: rgb(255, 219, 151);


}

.images:hover {
    border: 5px;
    border-style: solid;
    border-color: rgb(232, 166, 60);
    zoom: 105%;

}

.link:hover {
    color: rgb(232, 166, 60);
    zoom: 110%;
}

.images {
    border: 5px;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 100%;
}